<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        <div class="h-1 bg-gray-800 rounded overflow-hidden">
          <div class="w-24 h-full bg-indigo-500"></div>
        </div>
        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">MY PROJECTS </h1>
          <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">𝒪𝓉𝒽𝑒𝓇 𝓀𝒾𝒹𝓈 𝓌𝑒𝓃𝓉 𝑜𝓊𝓉 𝒶𝓃𝒹 𝒷𝑒𝒶𝓉 𝑒𝒶𝒸𝒽 𝑜𝓉𝒽𝑒𝓇 𝓊𝓅 𝑜𝓇 𝓅𝓁𝒶𝓎𝑒𝒹 𝒷𝒶𝓈𝑒𝒷𝒶𝓁𝓁, 𝒶𝓃𝒹 𝐼 𝒷𝓊𝒾𝓁𝓉 𝑒𝓁𝑒𝒸𝓉𝓇𝑜𝓃𝒾𝒸𝓈.</p>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
           <a href="https://youtu.be/KcS2b_75BcY" target="_blank"> <img alt="content" class="object-cover object-center h-full w-full" src="../../assets/photos/new.jpg"></a>
          </div>
          <h2 class="text-xl font-medium title-font text-white mt-5">VOICE CONTROLLED ROOM </h2>
          <p class="text-base leading-relaxed mt-2">IN THIS PROJECT I AUTOMATED MY HOME (ROOM) WITH INTERNET WHICH WORKS WITH MY VOICE COMMANDS AND ALSO WORKS WITH GOOGLE ASSISTANT AND ALEXA. <br> <br></p>
          <button class=" mt-6 px-3 py-3 bg-red-700" >
            <a  href="automation_buy.html"  target="_blank" class="text-white inline-flex items-center font-bold "> Buy Now
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </button>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <a  href="https://youtu.be/KbskQrNULow"  target="_blank"><img alt="content" class="object-cover object-center h-full w-full" src="../../assets/photos/motion sensor.jpg"></a>
          </div>
          <h2 class="text-xl font-medium title-font text-white mt-5">MOTION SENSOR LIGHT WITH PIR SENSOR</h2>
          <p class="text-base leading-relaxed mt-2">IN THIS PROJECT I CONNECT THE LIGHTS WITH MOTION SENSOR WHICH TURNS ON WITH HUMAN MOTION AND TURNS OF ITSELF AFTER THERE IS NO MOTION.</p>
          <button class="mt-6 px-3 py-3 bg-red-700" >
            <a  href="automation_buy.html"  target="_blank" class="text-white inline-flex items-center font-bold "> Buy Now
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </button>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
           <a href="https://youtu.be/JiHAGmYfhZg" target="_blank" rel="noopener noreferrer"><img alt="content" class="object-cover object-center h-full w-full" src="../../assets/photos/dispenser.jpg"></a>
          </div>
          <h2 class="text-xl font-medium title-font text-white mt-5">DIY WATER DISPENSER </h2>
          <p class="text-base leading-relaxed mt-2">IN THIS PROJECT I USED A OLD PLASTIC BOTTLE AND CONVERTED IT INTO A WATER DISPENSER . <br> <br> <br> <br></p>
          <button class="mt-6 px-3 py-3 bg-red-700" >
            <a  href="automation_buy.html"  target="_blank" class="text-white inline-flex items-center font-bold "> Buy Now
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </button>
        </div>
      </div>  <br><br><br><br>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
           <a href="https://youtu.be/MKB03D6-sEo" target="_blank"> <img alt="content" class="object-cover object-center h-full w-full" src="../../assets/photos/power bank.jpg"></a>
          </div>
          <h2 class="text-xl font-medium title-font text-white mt-5">DIY POWER BANK  </h2>
          <p class="text-base leading-relaxed mt-2">IN THIS PROJECT I MADE A DIY POWER BANK USING LITHIUM ION CELLS. RECYCLED FROM OLD LAPTOP BATTERY. <br><br> <br> <br></p>
          <button class="mt-6 px-3 py-3 bg-red-700" >
            <a  href="automation_buy.html"  target="_blank" class="text-white inline-flex items-center font-bold "> Buy Now
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </button>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <a href="https://youtu.be/gCB-y5SdHEs"  target="_blank"><img alt="content" class="object-cover object-center h-full w-full" src="../../assets/photos/SMART DUSTBIN.jpg"></a>
          </div>
          <h2 class="text-xl font-medium title-font text-white mt-5">
            AUTOMATIC SMART DUSTIN USING ARDUINO</h2>
          <p class="text-base leading-relaxed mt-2">IN THIS PROJECT I MADE A DIY AUTOMATIC SMART DUSTBIN WHICH OPENS AUTOMATICALLY WHEN WE GOES IN FRONT OF IT. IT IS BENEFICIAL TO AVOID PHYSICAL TOUCH IN THIS CURRENT SCENARIO OF COVID.</p>
          <button class="mt-6 px-3 py-3 bg-red-700" >
            <a  href="automation_buy.html"  target="_blank" class="text-white inline-flex items-center font-bold "> Buy Now
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </button>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
           <a href="https://www.youtube.com/channel/UCCWYdFotsFohvlQS1uBf_8w" target="_blank" rel="noopener noreferrer"><img alt="content" class="object-cover object-center h-full w-full" src="../../assets/photos/jap (1).jpg"></a>
          </div>
          <h2 class="text-xl font-medium title-font text-white mt-5">DIY RC-CAR </h2>
          <p class="text-base leading-relaxed mt-2">IN THIS PROJECT I MADE A RC  CAR THAT WORK WITH INTERNET AND CAN BE CONTROLLED ANYWHERE FROM WORLD. <br><br><br><br></p>
          <button class="mt-6 px-3 py-3 bg-red-700" >
            <a  href="automation_buy.html"  target="_blank" class="text-white inline-flex items-center font-bold "> Buy Now
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </button>
        </div>
      </div>
  
  
  
  
    </div>
  
  </section>
  <hr>